.AR {
  margin-right: 50px;
}

.nsearch {
  margin-top: 70px;
}

.imagehere {
  width: 205px;
  height: 205px;

}

.prod {
  width: 100%;
}

.nproduct {
  margin-top: 25px;
}

.pr1 {
  border:5px;
}

.nsort {
  margin-top: 20px;
}
